@import "../../css/Global.scss";

.button-arrow {
	background-color: transparent;
	border: none;
	border-top: 2px solid $grey-light;
	display: inline-block;
	font-weight: 700;
	margin-top: 15px;
	padding: 15px 45px 15px 15px;
	text-align: center;
	width: 100%;

	&:hover {
		cursor: pointer;

		.button-arrow__arrow {
			&--central-bar,
			&--bottom-bar,
			&--top-bar {
				&:after {
					animation: arrowAnimation 2s infinite
						cubic-bezier(0.3, 0.7, 0.7, 0.3);
				}
			}
		}
	}

	&__text {
		position: relative;
	}

	&__arrow {
		margin-left: -15px;
		position: absolute;
		top: 40px;
		transform: rotate(-90deg);

		&--central-bar,
		&--bottom-bar,
		&--top-bar {
			height: 25px;
			left: 29px;
			overflow: hidden;
			position: absolute;
			top: 30px;
			transition: opacity 0.4s ease-in-out;
			width: 4px;

			&:before,
			&:after {
				content: "";
				display: block;
				height: 100%;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				width: 2px;
			}

			&:after {
				background: $red;
			}
		}

		&--bottom-bar,
		&--top-bar {
			height: 15px;
			left: 24px;
			top: 43px;
			transform: rotate(-45deg);
		}

		&--top-bar {
			left: 34px;
			transform: rotate(-135deg);
		}
	}
}
