// Animation keyframes

@keyframes arrowAnimation {
	from {
		top: -100%;
	}

	to {
		top: 100%;
	}
}

@keyframes loading {
	0% {
		top: 6px;
		height: 51px;
	}
	50%,
	100% {
		top: 19px;
		height: 26px;
	}
}
