@import "../../css/Global.scss";

.content {
	&__title {
		color: $red;
	}

	&__list {
		.content--wrapper {
			padding: 10px;
		}

		&__item {
			background-color: $white;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

			&__label {
				color: $red;
				font-size: 14px;
			}

			&__value {
				margin: 5px 0 10px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

.posts {
	background-color: $white;
	height: 100vh;
	left: 100vw;
	position: fixed;
	top: 0;
	transition: 0.5s left ease-in-out;
	width: 100vw;

	&.show {
		left: 0;
	}

	&__title {
		color: $red;
	}

	&__close {
		color: $red;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 30px;
	}

	&__list {
		max-height: calc(100vh - 70px);
		overflow-y: scroll;
	}
}
