@import "../../css/Global.scss";

.content {
	&__list {
		.content--wrapper {
			padding: 10px;
		}

		&__item {
			background-color: $white;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
		}
	}
}

.posts {
	background-color: $white;
	height: 100vh;
	left: 100vw;
	position: fixed;
	top: 0;
	transition: 0.5s left ease-in-out;
	width: 100vw;

	&.show {
		left: 0;
	}

	&__close {
		color: $red;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 30px;
	}

	&__list {
		margin-top: 20px;
		max-height: calc(100vh - 110px);
		overflow-y: scroll;

		&__item {
			border-bottom: 1px solid $grey-medium;
			margin-bottom: 20px;
			padding-bottom: 5px;

			&__title {
				font-weight: 700;
			}

			&__message {
				color: $grey-dark;
			}
		}
	}
}
